<?xml version="1.0"?>
<config>
    <modules>
        <Oca_OdooConnector>
            <version>1.0.0</version>
        </Oca_OdooConnector>
    </modules>
    <global>
        <helpers>
            <oca_odooconnector>
                <class>Oca_OdooConnector_Helper</class>
            </oca_odooconnector>
        </helpers>
        <models>
            <oca_odooconnector>
                <class>Oca_OdooConnector_Model</class>
            </oca_odooconnector>
        </models>
    </global>
</config>